 <!-- site nav -->
 <script type="module" src="./ts/nav.ts"></script>
"
 <section class="navigation">
    <div class="toggle-wrapper">
        <!-- <span class="show"><i class="fa-regular fa-bars"></i> -->
<span class="show">about</span>


        <span class="hide"><i class="fa-sharp fa-light fa-circle-xmark"></i></span>
    </div>
    <nav class="sidenav__desktop">
        <ul class="sidenav__text menu">
            <!-- <li>
                <a href="#" >
                    <i class="fa-duotone fa-code"></i>
                    <span class="logo__text link__text overlay__btn--colors overlay__btn ">color in code</span></a>
            </li> -->
            
            <li><a href="#" class="active__nav" ><span class="link__text">HOME</span></a></li>
            <li><a href="#" ><span class="link__text">ABOUT</span></a></li>
            <li><a href="./projects.html"><span class="link__text">Projects </span></a></li>
           
        </ul>
    </nav>
    <!-- <ul class="sidenav_socialiconlist menu ">
        <li class="social_icons"><a href="https://www.instagram.com/ColorInCodedev/" target="_blank"><i class="fa-brands fa-instagram fa-fw"></i></a></li>
        <li class="social_icons"><a href="https://www.twitter.com/ColorInCodeco" target="_blank"><i class="fa-brands fa-x-twitter fa-fw"></i></a></li>
        <li class="social_icons"><a href="https://github.com/ColorInCodeMe" target="_blank"><i class="fa-brands fa-github fa-fw"></i></a></li>
    </ul> -->
</section>
<!--end site nav-->
